<div class="card p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
    <div class="card-header">
        {{ selectedClasificacion.nombre }}
    </div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-body-secondary">Descripcion: {{ selectedClasificacion.descripcion }}</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">Edad minima permitida: {{ selectedClasificacion.edadMinima }}</h6>

        @if(isAdmin) {
        <a routerLink="/clasificaciones/update/{{ selectedClasificacion.clasificacion_Id }}" class="btn btn-primary">Editar Clasificacion</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
            title="Delete event {{ selectedClasificacion.clasificacion_Id }}" (click)="deleteAction()">
            <i class="bi bi-trash"></i>
        </button>
        }
    </div>
</div>