<br>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom border-secondary text-light">
        <a routerLink="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none">
            <i class="bi bi-bootstrap" style="font-size: 2rem; color: #f8f9fa;"></i>
            <span class="fs-4 ms-2">Menu Principal</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a routerLink="/home" class="nav-link text-light" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li>
            @if(isAdminSystem) {
            <li class="nav-item">
                <a routerLink="/users" routerLinkActive="active" class="nav-link text-light">Usuarios</a>
            </li>
            <li class="nav-item">
                <a routerLink="/cines" routerLinkActive="active" class="nav-link text-light">Cines</a>
            </li>
            <li class="nav-item">
                <a routerLink="/admincines" routerLinkActive="active" class="nav-link text-light">Administrador de Cine</a>
            </li>
            <li class="nav-item">
                <a routerLink="/clasificaciones" routerLinkActive="active" class="nav-link text-light">Clasificaciones de peliculas</a>
            </li>
            } @else if(isAdminCine) {
            <li class="nav-item">
                <a routerLink="#" routerLinkActive="active" class="nav-link text-light">Admin Cine</a>
            </li>
            } @else if(isUser) {
            <li class="nav-item">
                <a routerLink="#" routerLinkActive="active" class="nav-link text-light">User</a>
            </li>
            } @else if(isAnunciante) {
            <li class="nav-item">
                <a routerLink="#" routerLinkActive="active" class="nav-link text-light">Anunciante</a>
            }
            <li class="nav-item">
                <a type="button" class="nav-link text-light btn btn-outline-danger" (click)="logout()">Cerrar sesión</a>
            </li>
        </ul>
    </header>
</div>