<app-header></app-header>
<div class="container">
    <br>
    <h1 class="text-center mb-4">Crear Nueva Clasificación</h1>
    <div class="row">
        <div class="col">
            <app-clasificacion-form></app-clasificacion-form>
        </div>
    </div>
</div>
<div class="container text-center">
    <a routerLink="/clasificaciones"
        class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
        <i class="bi bi-arrow-left"> </i>
        regresar</a>
</div>