<app-header></app-header>
<div class="container">
    @if(deleted) {
    <div class="alert alert-success d-flex align-items-center">
        <i class="bi bi-check-circle flex-shrink-0 me-2"></i>
        <div>
            Operacion realizada con exito.
        </div>
    </div>
    }
    @if(isAdmin) {
    <div class="container text-center">
        <a routerLink="/cines/new" class="btn btn-primary">
            <i class="bi bi-file-earmark-plus"></i>
            Crear Cine
        </a>
    </div>
    }
    <h1>Listado de Cines</h1>
    <form [formGroup]="nombreABuscarForm" (submit)="buscarPorNombre()">
        <div class="row g-2 align-items-center">
            <div class="col-md-10 col-sm-8">
                <input type="text" id="nombre" formControlName="nombre"
                    class="form-control bg-secondary text-light border-dark" placeholder="Buscar cine por nombre"
                    required>
            </div>
            <div class="col-md-2 col-sm-4">
                <button class="btn btn-primary w-100" type="submit">
                    <i class="bi bi-search me-2"></i>Buscar
                </button>
            </div>
        </div>
    </form>
    <div class="row">
        @for (cine of cines; track $index) {
        <h6>index: {{ $index + 1}}</h6>
        <app-cine-card [selectedCine]="cine" (cineSelected)="onSelectedCine($event)" />
        }
    </div>
</div>

<app-confirmation-modal-cine [selectedCine]="selectedCine" (confirmationExecuter)="deleteCine()" />